{{- if .Values.config.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "navidrome.fullname" . }}-config
  labels:
    {{- include "navidrome.labels" . | nindent 4 }}
data:
  navidrome.toml: |
    # Navidrome Configuration File
    # See https://www.navidrome.org/docs/usage/configuration-options/#available-options
    
    # Basic configuration
    {{- with .Values.config.musicFolder }}
    MusicFolder = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.dataFolder }}
    DataFolder = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.cacheFolder }}
    CacheFolder = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.logLevel }}
    LogLevel = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.logFile }}
    LogFile = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.address }}
    Address = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.baseUrl }}
    BaseUrl = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.port }}
    Port = {{ . }}
    {{- end }}
    {{- if hasKey .Values.config "enableInsightsCollector" }}
    EnableInsightsCollector = {{ .Values.config.enableInsightsCollector }}
    {{- end }}
    
    # Advanced configuration
    {{- with .Values.config.agents }}
    Agents = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.albumPlayCountMode }}
    AlbumPlayCountMode = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.authRequestLimit }}
    AuthRequestLimit = {{ . }}
    {{- end }}
    {{- with .Values.config.authWindowLength }}
    AuthWindowLength = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config "autoImportPlaylists" }}
    AutoImportPlaylists = {{ .Values.config.autoImportPlaylists }}
    {{- end }}
    {{- if hasKey .Values.config "autoTranscodeDownload" }}
    AutoTranscodeDownload = {{ .Values.config.autoTranscodeDownload }}
    {{- end }}
    {{- if hasKey .Values.config "defaultPlaylistPublicVisibility" }}
    DefaultPlaylistPublicVisibility = {{ .Values.config.defaultPlaylistPublicVisibility }}
    {{- end }}
    {{- with .Values.config.artistArtPriority }}
    ArtistArtPriority = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.coverArtPriority }}
    CoverArtPriority = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.coverJpegQuality }}
    CoverJpegQuality = {{ . }}
    {{- end }}
    {{- with .Values.config.defaultDownsamplingFormat }}
    DefaultDownsamplingFormat = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.defaultLanguage }}
    DefaultLanguage = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.defaultTheme }}
    DefaultTheme = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.defaultShareExpiration }}
    DefaultShareExpiration = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config "defaultDownloadableShare" }}
    DefaultDownloadableShare = {{ .Values.config.defaultDownloadableShare }}
    {{- end }}
    {{- with .Values.config.defaultUIVolume }}
    DefaultUIVolume = {{ . }}
    {{- end }}
    {{- if hasKey .Values.config "enableArtworkPrecache" }}
    EnableArtworkPrecache = {{ .Values.config.enableArtworkPrecache }}
    {{- end }}
    {{- if hasKey .Values.config "enableCoverAnimation" }}
    EnableCoverAnimation = {{ .Values.config.enableCoverAnimation }}
    {{- end }}
    {{- if hasKey .Values.config "enableDownloads" }}
    EnableDownloads = {{ .Values.config.enableDownloads }}
    {{- end }}
    {{- if hasKey .Values.config "enableExternalServices" }}
    EnableExternalServices = {{ .Values.config.enableExternalServices }}
    {{- end }}
    {{- if hasKey .Values.config "enableFavourites" }}
    EnableFavourites = {{ .Values.config.enableFavourites }}
    {{- end }}
    {{- if hasKey .Values.config "enableGravatar" }}
    EnableGravatar = {{ .Values.config.enableGravatar }}
    {{- end }}
    {{- if hasKey .Values.config "enableLogRedacting" }}
    EnableLogRedacting = {{ .Values.config.enableLogRedacting }}
    {{- end }}
    {{- if hasKey .Values.config "enableMediaFileCoverArt" }}
    EnableMediaFileCoverArt = {{ .Values.config.enableMediaFileCoverArt }}
    {{- end }}
    {{- if hasKey .Values.config "enableNowPlaying" }}
    EnableNowPlaying = {{ .Values.config.enableNowPlaying }}
    {{- end }}
    {{- if hasKey .Values.config "enableReplayGain" }}
    EnableReplayGain = {{ .Values.config.enableReplayGain }}
    {{- end }}
    {{- if hasKey .Values.config "enableSharing" }}
    EnableSharing = {{ .Values.config.enableSharing }}
    {{- end }}
    {{- if hasKey .Values.config "enableStarRating" }}
    EnableStarRating = {{ .Values.config.enableStarRating }}
    {{- end }}
    {{- if hasKey .Values.config "enableTranscodingConfig" }}
    EnableTranscodingConfig = {{ .Values.config.enableTranscodingConfig }}
    {{- end }}
    {{- if hasKey .Values.config "enableUserEditing" }}
    EnableUserEditing = {{ .Values.config.enableUserEditing }}
    {{- end }}
    {{- with .Values.config.ffmpegPath }}
    FFmpegPath = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.gaTrackingID }}
    GATrackingID = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.ignoredArticles }}
    IgnoredArticles = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.imageCacheSize }}
    ImageCacheSize = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.lyricsPriority }}
    LyricsPriority = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.maxSidebarPlaylists }}
    MaxSidebarPlaylists = {{ . }}
    {{- end }}
    {{- with .Values.config.mpvPath }}
    MPVPath = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.mpvCmdTemplate }}
    MPVCmdTemplate = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.playlistsPath }}
    PlaylistsPath = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config "preferSortTags" }}
    PreferSortTags = {{ .Values.config.preferSortTags }}
    {{- end }}
    {{- if hasKey .Values.config "recentlyAddedByModTime" }}
    RecentlyAddedByModTime = {{ .Values.config.recentlyAddedByModTime }}
    {{- end }}
    {{- if hasKey .Values.config "searchFullString" }}
    SearchFullString = {{ .Values.config.searchFullString }}
    {{- end }}
    {{- with .Values.config.sessionTimeout }}
    SessionTimeout = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.shareURL }}
    ShareURL = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.smartPlaylistRefreshDelay }}
    SmartPlaylistRefreshDelay = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.transcodingCacheSize }}
    TranscodingCacheSize = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.uiLoginBackgroundUrl }}
    UILoginBackgroundUrl = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.uiWelcomeMessage }}
    UIWelcomeMessage = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.unixSocketPerm }}
    UnixSocketPerm = {{ . | quote }}
    {{- end }}
    
    # Backup configuration
    {{- with .Values.config.backup.path }}
    [Backup]
    Path = {{ . | quote }}
    {{- with $.Values.config.backup.schedule }}
    Schedule = {{ . | quote }}
    {{- end }}
    {{- with $.Values.config.backup.count }}
    Count = {{ . }}
    {{- end }}
    {{- end }}
    
    # Deezer configuration
    {{- if hasKey .Values.config.deezer "enabled" }}
    [Deezer]
    Enabled = {{ .Values.config.deezer.enabled }}
    {{- end }}
    
    # HTTP Security Headers
    {{- with .Values.config.httpSecurityHeaders.customFrameOptionsValue }}
    [HTTPSecurityHeaders]
    CustomFrameOptionsValue = {{ . | quote }}
    {{- end }}
    
    # Jukebox configuration
    {{- if or (hasKey .Values.config.jukebox "enabled") (hasKey .Values.config.jukebox "adminOnly") .Values.config.jukebox.default }}
    [Jukebox]
    {{- if hasKey .Values.config.jukebox "enabled" }}
    Enabled = {{ .Values.config.jukebox.enabled }}
    {{- end }}
    {{- if hasKey .Values.config.jukebox "adminOnly" }}
    AdminOnly = {{ .Values.config.jukebox.adminOnly }}
    {{- end }}
    {{- with .Values.config.jukebox.default }}
    Default = {{ . | quote }}
    {{- end }}
    {{- range .Values.config.jukebox.devices }}
    [[Jukebox.Devices]]
    {{- with .name }}
    Name = {{ . | quote }}
    {{- end }}
    {{- with .audioDevice }}
    AudioDevice = {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- end }}
    
    # Last.fm configuration
    {{- if or (hasKey .Values.config.lastfm "enabled") .Values.config.lastfm.apiKey .Values.config.lastfm.secret .Values.config.lastfm.language (hasKey .Values.config.lastfm "scrobbleFirstArtistOnly") }}
    [LastFM]
    {{- if hasKey .Values.config.lastfm "enabled" }}
    Enabled = {{ .Values.config.lastfm.enabled }}
    {{- end }}
    {{- with .Values.config.lastfm.apiKey }}
    ApiKey = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.lastfm.secret }}
    Secret = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.lastfm.language }}
    Language = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config.lastfm "scrobbleFirstArtistOnly" }}
    ScrobbleFirstArtistOnly = {{ .Values.config.lastfm.scrobbleFirstArtistOnly }}
    {{- end }}
    {{- end }}
    
    # ListenBrainz configuration
    {{- if or .Values.config.listenBrainz.baseURL (hasKey .Values.config.listenBrainz "enabled") }}
    [ListenBrainz]
    {{- with .Values.config.listenBrainz.baseURL }}
    BaseURL = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config.listenBrainz "enabled" }}
    Enabled = {{ .Values.config.listenBrainz.enabled }}
    {{- end }}
    {{- end }}
    
    # PID configuration
    {{- if or .Values.config.pid.album .Values.config.pid.track }}
    [PID]
    {{- with .Values.config.pid.album }}
    Album = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.pid.track }}
    Track = {{ . | quote }}
    {{- end }}
    {{- end }}
    
    # Prometheus configuration
    {{- if or (hasKey .Values.config.prometheus "enabled") .Values.config.prometheus.metricsPath .Values.config.prometheus.password }}
    [Prometheus]
    {{- if hasKey .Values.config.prometheus "enabled" }}
    Enabled = {{ .Values.config.prometheus.enabled }}
    {{- end }}
    {{- with .Values.config.prometheus.metricsPath }}
    MetricsPath = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.prometheus.password }}
    Password = {{ . | quote }}
    {{- end }}
    {{- end }}
    
    # Scanner configuration
    {{- if or (hasKey .Values.config.scanner "enabled") .Values.config.scanner.schedule .Values.config.scanner.watcherWait (hasKey .Values.config.scanner "scanOnStartup") .Values.config.scanner.artistJoiner (hasKey .Values.config.scanner "followSymlinks") .Values.config.scanner.purgeMissing }}
    [Scanner]
    {{- if hasKey .Values.config.scanner "enabled" }}
    Enabled = {{ .Values.config.scanner.enabled }}
    {{- end }}
    {{- with .Values.config.scanner.schedule }}
    Schedule = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.scanner.watcherWait }}
    WatcherWait = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config.scanner "scanOnStartup" }}
    ScanOnStartup = {{ .Values.config.scanner.scanOnStartup }}
    {{- end }}
    {{- with .Values.config.scanner.artistJoiner }}
    ArtistJoiner = {{ . | quote }}
    {{- end }}
    {{- if hasKey .Values.config.scanner "followSymlinks" }}
    FollowSymlinks = {{ .Values.config.scanner.followSymlinks }}
    {{- end }}
    {{- with .Values.config.scanner.purgeMissing }}
    PurgeMissing = {{ . | quote }}
    {{- end }}
    {{- end }}
    
    # Spotify configuration
    {{- if or .Values.config.spotify.id .Values.config.spotify.secret }}
    [Spotify]
    {{- with .Values.config.spotify.id }}
    ID = {{ . | quote }}
    {{- end }}
    {{- with .Values.config.spotify.secret }}
    Secret = {{ . | quote }}
    {{- end }}
    {{- end }}
    
    # Subsonic configuration
    {{- if or (hasKey .Values.config.subsonic "appendSubtitle") (hasKey .Values.config.subsonic "artistParticipations") (hasKey .Values.config.subsonic "defaultReportRealPath") .Values.config.subsonic.legacyClients }}
    [Subsonic]
    {{- if hasKey .Values.config.subsonic "appendSubtitle" }}
    AppendSubtitle = {{ .Values.config.subsonic.appendSubtitle }}
    {{- end }}
    {{- if hasKey .Values.config.subsonic "artistParticipations" }}
    ArtistParticipations = {{ .Values.config.subsonic.artistParticipations }}
    {{- end }}
    {{- if hasKey .Values.config.subsonic "defaultReportRealPath" }}
    DefaultReportRealPath = {{ .Values.config.subsonic.defaultReportRealPath }}
    {{- end }}
    {{- with .Values.config.subsonic.legacyClients }}
    LegacyClients = {{ . | quote }}
    {{- end }}
    {{- end }}
{{- end }}
