apiVersion: v1
kind: Secret
metadata:
  name: {{ include "distribution.httpSecretName" . }}
  labels:
    {{- include "distribution.labels" . | nindent 4 }}
type: Opaque
data:
  http-secret: {{ include "distribution.httpSecret" . | b64enc | quote }}
---
{{- if and .Values.tls.enabled (not .Values.tls.existingSecret) }}
{{- if and .Values.tls.certificate .Values.tls.key }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "distribution.tlsSecretName" . }}
  labels:
    {{- include "distribution.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .Values.tls.certificate | b64enc | quote }}
  tls.key: {{ .Values.tls.key | b64enc | quote }}
{{- end }}
{{- end }}
---
{{- if and .Values.htpasswd.enabled (not .Values.htpasswd.existingSecret) }}
{{- if .Values.htpasswd.credentials }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "distribution.htpasswdSecretName" . }}
  labels:
    {{- include "distribution.labels" . | nindent 4 }}
type: Opaque
data:
  htpasswd: {{ .Values.htpasswd.credentials | b64enc | quote }}
{{- end }}
{{- end }}
---
{{- $hasCredentials := or .Values.secrets.s3.accessKey .Values.secrets.s3.secretKey .Values.secrets.azure.accountKey .Values.secrets.gcs.keyfile .Values.secrets.redis.password .Values.secrets.proxy.username .Values.secrets.proxy.password }}
{{- if and $hasCredentials (not .Values.secrets.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "distribution.credentialsSecretName" . }}
  labels:
    {{- include "distribution.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.s3.accessKey }}
  s3-access-key: {{ .Values.secrets.s3.accessKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.s3.secretKey }}
  s3-secret-key: {{ .Values.secrets.s3.secretKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.azure.accountKey }}
  azure-account-key: {{ .Values.secrets.azure.accountKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.gcs.keyfile }}
  gcs-keyfile: {{ .Values.secrets.gcs.keyfile | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.redis.password }}
  redis-password: {{ .Values.secrets.redis.password | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.proxy.username }}
  proxy-username: {{ .Values.secrets.proxy.username | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.proxy.password }}
  proxy-password: {{ .Values.secrets.proxy.password | b64enc | quote }}
  {{- end }}
{{- end }}
